.board{
    min-height: 10px;
    min-width: 8px;
    width: 100vw;
    min-height: 87vh;
    margin: initial;
    display: inline-block;
    margin-top: initial;
    margin-bottom: auto;
    border: none;
    margin-top: 13vh;
}

.board-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.board-input{
    height: 10vh;
    width: 40vw;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: transparent;
    display: inline-block;
    float: left;
    border: none;
    margin-left: 15px;
    border-bottom: black;
    border-bottom: solid;
    position: fixed;
}

.board-input2{
    height: 10vh;
    width: 40vw;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: transparent;
    display: inline-block;
    float: left;
    border: none;
    margin-left: 15px;
    border-bottom: black;
    border-bottom: solid;
    position: fixed;
    margin-left: 30vw;
}

::placeholder{
    color: red;
    opacity: 1;
}

.board-input:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: rgba(0, 0, 0, 0.021);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.board-input2:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: rgba(0, 0, 0, 0.021);
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }

.pipeline-board{
    height: 77vh;
    display: block;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
    flex-grow: 1;
}

.inputs-board{
    height: 10vh;
    width: 100%;
}