.navbar{
    width: 100vw;
    height: 13vh;
    background-color: transparent;
    align-content: space-between;
    position: fixed;
    padding-bottom: none;
}

.header_title{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 5px;
    margin-right: auto;
}

.logo{
    height: 10vh;
    margin-left: auto;
    padding-right: 1%;
}