.navbar{
    width: 100vw;
    height: 13vh;
    background-color: white;
    border-radius: 3px;
    border-bottom:5px solid grey;
    align-content: space-between;
    position: fixed;
}

.header_title{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    margin-top: 5px;
    margin-right: auto;
}

.logo{
    height: 10vh;
    margin-bottom: 5px;
    margin-left: auto;
    padding-right: 1%;
}