.pipeline{
    margin-top: 2%;
    width: 10vw;
    height: 8vh;
    margin-top: 10vh;
}

.form-pipelines{
    width: 100%;
    min-height: 100%;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    overflow: scroll;
    overflow-y: hidden;
}

.form-pipelines::-webkit-scrollbar {
    width: 20px;
  }

  .form-pipelines::-webkit-scrollbar-track-piece {
    background: transparent
}

  .form-pipelines::-webkit-scrollbar-thumb {
    background: rgba(251, 252, 255, 0.623);
    border-radius: 10px;
  }

  .form-pipelines::after{
    clear: both;
    content: "";
    display: table;
  }

  .form-pipelines::selection{
      background: transparent;
  }

.column{
    max-height: 70vh;
    width: 20vw;
    background-color: rgb(231, 231, 226);
    margin-top: 2%;
    display: inline-block;
    float: left;
    display: flex;
    border-radius: 5%;
    margin-right: 5%;
}

.column-input{
    background-color: rgb(241, 241, 240);
    width: 70%;
    border: black 0.5px ;
    border-radius: 0%;
    display: inline-block;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.column-input:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: rgba(0, 0, 0, 0.021);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  background-color: rgb(238, 236, 235);
}

.colum-button{
    width: 20%;
    display: inline-block;
    height: 10%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-left: rgba(0, 0, 0, 0.267) 1px solid;
}

.add-cards{
    height: 5vh;
    width: 80%;
    margin-top: 10px;
    margin: auto;
    padding: inherit;
    background-color: rgb(185, 185, 185);;
    border: none;
}

.add-cards:focus{
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.add-cards:hover{
  background-color: rgb(170, 170, 170);;
}

.card-div{
    min-height: 100%;
    width: 100%;
    position: relative;
}

.delete-pipeline{
    height: 9%;
    width: 10%;
    display: inline-block;
    border-top-right-radius: 10%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-left: rgba(0, 0, 0, 0.267) 1px solid;
}

.inside-column{
    height: 60vh;
    width: 30vw;
    position: relative;
    text-align: center;
    margin-top: 3vh;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    overflow: auto;
    padding-bottom: 3vh;
}

.inside-column::-webkit-scrollbar {
    width: 8px;
  }

  .inside-column::-webkit-scrollbar-track-piece {
    background: transparent
}

  .inside-column::-webkit-scrollbar-thumb {
    background: rgba(104, 106, 110, 0.623);
    border-radius: 10px;
  }

  .inside-column::after{
    clear: both;
    content: "";
    display: table;
  }

  .inside-column::selection{
      background: transparent;
  }

  .error{
      font-size: 20px;
      color: red;
  }