.column{
    max-height: 70vh;
    width: 20vw;
    background-color: rgb(207, 199, 190);
    margin-top: 2%;
    display: inline-block;
    float: left;
    display: flex;
    border-radius: 5%;
    margin-right: 5%;
}

.column-input{
    background-color: rgb(190, 184, 177);
    width: 70%;
    border: black 0.5px ;
    border-radius: 0%;
    display: inline-block;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.column-input:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom-color: rgba(0, 0, 0, 0.021);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  background-color: rgb(238, 236, 235);
}

.colum-button{
    width: 20%;
    display: inline-block;
    height: 10%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-left: rgba(0, 0, 0, 0.267) 1px solid;
}

.add-cards{
    height: 5vh;
    width: 80%;
    margin-top: 10px;
    margin: auto;
    padding: inherit;
}

.card-div{
    min-height: 100%;
    width: 100%;
    position: relative;
}

.delete-pipeline{
    height: 9%;
    width: 10%;
    display: inline-block;
    border-top-right-radius: 10%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-left: rgba(0, 0, 0, 0.267) 1px solid;
}

.inside-column{
    height: 60vh;
    width: 30vw;
	position: relative;
	text-align: center;
    margin-top: 3vh;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    overflow: auto;
    padding-bottom: 3vh;
}

.inside-column::-webkit-scrollbar {
    width: 8px;
  }

  .inside-column::-webkit-scrollbar-track-piece {
    background: transparent
}

  .inside-column::-webkit-scrollbar-thumb {
    background: rgba(104, 106, 110, 0.623);
    border-radius: 10px;
  }

  .inside-column::after{
    clear: both;
    content: "";
    display: table;
  }

  .inside-column::selection{
      background: transparent;
  }
  
  .modal-input{
    height: 5vh;
    width: 20vw;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    border: transparent;
    display: inline-block;
    float: left;
    border: none;
    border-bottom: black;
    border-bottom: solid;
  }

  .modal-input2{
    height: 5vh;
    width: 30vw;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vh;
    border: transparent;
    display: inline-block;
    float: left;
    border: none;
    border-bottom: black;
    border-bottom: solid;
  }

  .modal-input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: rgba(0, 0, 0, 0.021);
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  .modal-input2:focus{
      -webkit-box-shadow: none;
      box-shadow: none;
      border-bottom-color: rgba(0, 0, 0, 0.021);
      border-right-color: transparent;
      border-left-color: transparent;
      border-top-color: transparent;
    }

    .error{
        font-size: 20px;
        color: red;
    }